*.pyc
/project_src/.godot
map_otools/.DS_Store
godot_project_src/.DS_Store
/godot_project_src/.godot
/map_tools_ps2/out
map_tools_ps2/.DS_Store
/godot_eagl_ps2/tmp
/car_ps2_tool/out
map_tools_ps2/.DS_Store
